.item {
  cursor: pointer;
  margin: 5px;
  box-sizing: content-box;
  float: left;
  width: 100px;
  height: 50%;
}

.prixPromo {
  text-decoration: line-through red;
  padding-top: 20px;
}
.prix1 {
  padding-top: 20px;
}

.add:active {
  background-color: green;
}
