.box {
  width: 30%;
}

button {
  cursor: pointer;
}
.prix {
  color: red;

  padding-top: 100px;
}
.img2 {
  width: 50%;
  margin: 5px;
  border: solid;
  cursor: pointer;
}



.imgD {
  width: 50%;
  margin: 5px;
  border: solid;
  cursor: pointer;
}

.Ecran {
  padding-top: 10px;
  float: right;

  width: 20%;
}

.Ecran1 {
 visibility: hidden;
}





.text {
  float: right;
}

.product {
  padding-top: 30px;
  padding-left: 10px;
}
