.box {
  width: 30%;
}

button {
  cursor: pointer;
  margin: 10px;
}
.prix {
  color: red;

}
.img2 {
  width: 50%;
  margin: 5px;
  border: solid;
  cursor: pointer;
}

.imgD {
  width: 50%;
  margin: 5px;
  border: solid;
  cursor: pointer;
}


.Ecran {
  float: right;
display: inline-block;
  width: 25%;
}

.Ecran1 {
  visibility: hidden;
  width: 50%;
  display: inline-block;
}

.text {
  float: right;
}

.product {
  padding-top: 30px;
  padding-left: 10px;
}
